<body>
    <div class="login">
        <h1>Login to Web App</h1>
        <form id="submitForm" method="post" enctype="multipart/form-data" asp-controller="Read" asp-action="Index" h>
            <p><input id="username" type="text" name="username" value="" placeholder="Username" required></p>
            <p><input id="password" type="password" name="password" value="" placeholder="Password" required></p>
            <p class="remember_me">
                <label>
                    <input type="checkbox" name="remember_me" id="remember_me">
                    Remember me on this computer
                </label>
            </p>
            <p id="submitLogin"class="submit"><input type="submit" name="commit" value="Login"></p>
            <hr />
            @ViewBag.username
        </form>
    </div>
</body>
<script src="~/js/login.js"></script>
