<body>
    <div class="login">
        <h1>Login to Web App</h1>
        <form id="submitForm" method="post" enctype="multipart/form-data" asp-controller="Read" asp-action="Index" h>
            <p><input id="username" type="text" name="username" value="" placeholder="Username" required></p>
            <p><input id="password" type="password" name="password" value="" placeholder="Password" required></p>
            <p class="remember_me">
                <label>
                    <input type="checkbox" name="remember_me" id="remember_me">
                    Remember me on this computer
                </label>
            </p>
            <p id="submitLogin"class="submit"><input type="submit" name="commit" value="Login"></p>
            <hr />
            @ViewBag.username
        </form>
    </div>
</body>
<script>
    var tokenKey = "accessToken";

    document.getElementById("submitLogin").addEventListener("click", async e => {
        e.preventDefault();

        const formData = new FormData();
        formData.append("username", document.getElementById("username").value);
        formData.append("password", document.getElementById("password").value);

        const response = await fetch("/Login/Token", {
            method: "POST",
            headers: { "Accept": "application/json" },
            body: formData
        });
        const data = await response.json();

        if (response.ok === true) {
            createCookie('Authorization', 'Bearer ' + data.accessToken, 1);
            createCookie('Refresh', data.refreshToken, 1);
            window.location.href = "/Read/Index";

        }

        function createCookie(name, value, days) {
            var expires;
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                expires = "; expires=" + date.toGMTString() + "; ";
            }
            else {
                expires = "";
            }
            var cookieString = encodeURIComponent(name) + "=" + encodeURIComponent(value) + encodeURIComponent(expires) + "path=/";
            document.cookie = cookieString;
        }

        function getCookie(c_name) {
            if (document.cookie.length > 0) {
                c_start = document.cookie.indexOf(c_name + "=");
                if (c_start != -1) {
                    c_start = c_start + c_name.length + 1;
                    c_end = document.cookie.indexOf(";", c_start);
                    if (c_end == -1) {
                        c_end = document.cookie.length;
                    }
                    return unescape(document.cookie.substring(c_start, c_end));
                }
            }
            return "";
        }
    });
</script>
