@{
    var brandsSelect = ViewData["BrandsSelect"] as Microsoft.AspNetCore.Mvc.Rendering.SelectList;
}



<h2>Добавление нового автомобиля</h2>
<form method="post">
    <p>
        <label>Марка:</label><br />
        <select id="brand" class="form-control"> </select>
    </p>
    <p>
        <label>Модель:</label><br />
        <select id="model" class="form-control"></select>
    </p>
    <p>
        <label>Цвет:</label><br />
        <select id="color" class="form-control"></select>
    </p>
    <input type="submit" value="Отправить" />
</form>

@* @section Scripts
    {
    <script>
        $(function () {
            $("#select1").on("change", function () {
                var brandId = $(this).val();
                $("#select2").empty();
                $.getJSON(`?handler=ModelsById&id=${brandId}`, (data) => {
                    $.each(data, function (i, item) {
                        $("#select2").append(`<option value="${item.id}">${item.name}</option>`);
                    });
                });
            });
            $("#select2").on("change", function () {
                var modelId = $(this).val();
                $("#select3").empty();
                $.getJSON(`?handler=ColorsById&id=${modelId}`, (data) => {
                    $.each(data, function (i, item) {
                        $("#select3").append(`<option value="${item.id}">${item.name}</option>`);
                    });
                });
            });
        });
    </script>
} *@