
<h2>Добавление нового автомобиля</h2>
<form method="post" action="/Create/Post">
    <p>
        <label>Марка:</label><br />
        <select id="brand" name="Brands" class="form-control"> </select>
    </p>
    <p>
        <label>Модель:</label><br />
        <select id="model" name="Models" class="form-control"></select>
    </p>
    <p>
        <label>Цвет:</label><br />
        <select id="color" name="Colors" class="form-control"></select>
    </p>
    <input type="submit" value="Отправить" />
</form>

@section Scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/cascadingddlcreate.js"></script>
}