@page "{id:int}"
@model CarProject.Pages.UpdateModel

<h2>Редактирование автомобиля</h2>

<form method="post">
    <input name="id" value="@Model.Auto?.Id" type="hidden" />
    <p>
        <label>Марка:</label><br />
        <select id="select1" asp-for="Auto.Brand.Id" name="brandId" asp-items="Model.BrandsSelect"></select>
    </p>
    <p>
        <label>Модель:</label><br />
        <select id="select2" asp-for="Auto.Model.Id" name="modelId"></select>
    </p>
    <p>
        <label>Цвет:</label><br />
        <select id="select3" asp-for="Auto.Color.Id" name="colorId"></select>
    </p>
    <input type="submit" value="Отправить" />
</form>

@section Scripts
    {
    <script>
        $(function () {
            $("#select1").on("change", function () {
                var brandId = $(this).val();
                $("#select2").empty();
                $.getJSON(`?handler=ModelsById&id=${brandId}`, (data) => {
                    $.each(data, function (i, item) {
                        console.log(data);
                        console.log(item);
                        $("#select2").append(`<option value="${item.id}">${item.name}</option>`);
                    });
                });
            });
            $("#select2").on("change", function () {
                var modelId = $(this).val();
                $("#select3").empty();
                $.getJSON(`?handler=ColorsById&id=${modelId}`, (data) => {
                    $.each(data, function (i, item) {
                        console.log(data);
                        console.log(item);
                        $("#select3").append(`<option value="${item.id}">${item.name}</option>`);
                    });
                });
            });
        });
    </script>
}